* {
  /*border: 2px dashed orange;*/
  box-sizing: border-box;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Neuton', serif;
font-family: 'Kurale', serif;*/

#logo {
  float: left;
  /*border: 2px solid purple;*/
  height: 610px;
  padding: 0 0;
}

#logo img {
  height: auto;
  width: 280px;
  margin: 0 0;
}
/*______NAV BAR__________________*/
#logo ul {
  width: 280px;
  margin: 0 0;
  padding: 0;
}

#logo li {
  background-color: #353328;
  font-family: 'Kurale', serif;
  font-size: 28px;
  width: 280px;
  list-style: none;
  display: block;
  margin: 10px 0;
  /*padding: 36px 55px;*/
  text-align: center;
  /*border: 1px solid white;*/
}

#logo li :hover {
  color: #353328;
  background-color: #D9BD7E;
}

#logo li a {
  color: #D9BD7E;
  text-decoration: none;
  display: block;
  padding: 38px 55px;
  /*border: 2px dashed grey;*/
}

/*______MAIN CONTENT BOX__________________*/
#square_modules {
  float: left;
  height: 610px;
  width: 984px;
  /*border: 2px solid green;*/
  /*background-color: #353328;*/
}

#square_modules article {
  padding: 30px 40px;
}

#main #about_us, #cookie, #tee {
  width: 100%;
  height: 100%;
  /*margin: 0px 10000px 0px -10000px ;*/
  /*border: 2px solid orange;*/
  overflow: scroll;
}

/*______MAIN__________________*/
h1 {
  font-family: 'Neuton', serif;
  font-size: 5em;
  font-weight: 600;
  color: #353328;
  text-align: center;
  margin-bottom: 35px;
}

#main img {
  display: block;
  height: 250px;
  width: auto;
  margin: 20px auto;
}

/*______ABOUT US__________________*/
h3 {
  font-family: 'Neuton', serif;
  font-size: 3em;
  font-weight: 600;
  color: #353328;
  margin-bottom: 35px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  color: #353328;
}

#about_us img {
  display: block;
  float: left;
  margin-right: 20px;
}

/*______COOKIE__________________*/
#cookie img {
  margin: 20px 20px;
}

/*______COOL TEES__________________*/
h4 {
  font-family: 'Neuton', serif;
  font-size: 2.2em;
  color: #353328;
  margin-bottom: 35px;
}

#tee img {
  display: block;
  float: right;
}

/*______HERO/FOOTER__________________*/
#hero {
  clear: both;
  background-color: #D9BD7E;
  height: 100px;
  border: 1px solid #D9BD7E;
}

#hero img {
  display: block;
  /*margin: ;*/
  height: 80%;
  width: auto;
  margin: 10px auto;
  /*border: 1px solid blue;*/
}
}
