* {
  border: 2px dashed orange;
  box-sizing: border-box;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Neuton', serif;
font-family: 'Kurale', serif;*/

#logo {
  float: left;
  border: 2px solid purple;
  height: 610px;
  padding: 0 0;
}

#logo img {
  height: auto;
  width: 280px;
  margin: 0 0;
}

#logo ul {
  width: 280px;
  /*height: auto;*/
  margin: 0 0;
}

#logo li {
  width: 280px;
  list-style: none;
  margin: 0 auto;
  padding: 45px 55px;
  text-align: center;
  border: 2px solid blue;
}

#logo li a {
  border: 2px dashed grey;
}

#square_modules {
  float: left;
  height: 610px;
  width: 970px;
  border: 2px solid green;
  /*background-color: #353328;*/
}

#hero {
  clear: both;
  background-color: #353328;
  border: 2px solid red;
}

#hero img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 20%;
}
